@import "../../../../variables.scss";

header {
  background-color: $header-color;
  padding: 1em 0;
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.logo {
  display: block;
  justify-self: start;
  svg {
    width: 111px;
    height: 40px;
    display: block;
  }
}

.btnHiddenMenu {
  justify-self: end;
}

.showHiddenMenu {
  display: block;
}

nav {
  display: grid;
  justify-items: center;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  text-align: center;
  background-color: $white-color;
  // box-shadow: 0 3px 20px black;
  a {
    justify-self: stretch;
    padding: 1em;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $font-color;
    border-bottom: 1px solid $font-color;
  }
  .active {
    color: $primary-color;
  }
}

.desktop {
  li {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  header {
    padding: 0;
  }
  .logo {
    justify-self: start;
  }
  nav {
    justify-self: end;
    grid-auto-flow: column; 
    position: relative;
    top: initial;
    width: initial;
    background-color: initial;
    a {
      border-bottom: none;
      font-size: .9rem;
      padding: 2.3em;
    }
  }
  .active {
    border-top: 2px solid $primary-color;
  }

  a:not(.active):not(.logo) {
    margin-top: 2px;
  }
}