<header (window:resize)="onResize()">
  <div class="wrapper">
    <a href="#" class="logo">
      <!-- <img src="../../../../assets/images/logo.png" alt="Drimo" /> -->
      <svg class="icon icon-logo"><use xlink:href="../../../../assets/images/symbol-defs.svg#icon-logo"></use></svg>
    </a>
    <button class="btnHiddenMenu" *ngIf="mobile" (click)="toggleMenu()" type="button">
      <fa-icon [icon]="faBars" size="2x"></fa-icon>
    </button>
  
    <nav [class.desktop]="desktop" *ngIf="isMenuOpen || desktop">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/sign-in" routerLinkActive="active">Sign In</a>
      <a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
    </nav>
  </div>

</header>