<footer>
  <div class="wrapper">
    <div class="about">
      <a class="logo" routerLink="/home">
        <svg class="icon icon-logo"><use xlink:href="./assets/images/symbol-defs.svg#icon-logo-2"></use></svg>
      </a>
      <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
    </div>

    <!-- <nav>
      <a href="/">Site Map</a>
      <a href="/">24 Hour Help</a>
      <a href="/">Privacy Policy</a>
      <a href="/">Contact</a>
      <a href="/">Affiliate</a>
      <a href="/">Home</a>
      <a href="/">About Us</a>
      <a href="/">Services</a>
      <a href="/">Gallery</a>
    </nav> -->

    <div class="contact">
      <h3>Got Questions?</h3>
      <ul>
        <li>
          <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
          drimo.email@domain.com
        </li>
        <li>
          <fa-icon [icon]="faPhone" size="lg"></fa-icon>
          +00 89 04 031039
        </li>
      </ul>

      <div>
        <a target="_blank" rel="noopener" href="https://www.facebook.com/">
          <fa-icon [icon]="faFacebookSquare" size="lg"></fa-icon>
        </a>
        <a target="_blank" rel="noopener" href="https://twitter.com/">
            <fa-icon [icon]="faTwitterSquare" size="lg"></fa-icon></a>
        <a target="_blank" rel="noopener" href="https://www.youtube.com/">
            <fa-icon [icon]="faYoutubeSquare" size="lg"></fa-icon></a>
      </div>
    </div>
    
    <p class="copyright">Copyright 
      <fa-icon [icon]="faCopyright"></fa-icon>
      2019 All rights reserved | This template is made with 
      <fa-icon [icon]="faHeart"></fa-icon> by 
      <a target="_blank" rel="noopener" href="https://colorlib.com/">ColorLib</a>
    </p>
  </div>

</footer>

