header {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  border: 1px solid red;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}

.logo {
  display: block;
  justify-self: start;
  margin-top: .7em;
  margin-bottom: .7em;
  border: 1px solid #000;
  img {
    display: block;
    border: 1px solid blue;
  }
}

.btnHiddenMenu {
  justify-self: end;
  border: 1px solid #000;
}

.showHiddenMenu {
  display: block;
}

nav {
  display: grid;
  justify-items: center;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
  z-index: 1;
  border: 1px solid #000;
  text-align: center;
  // padding: 1em 0;
  a {
    // border: 1px solid red;
    justify-self: stretch;
    padding: 1em;
    text-transform: uppercase;
  }
  a:not(:last-child) {
    border: 1px solid red;
  }
}

.desktop {
  li {
    display: inline-block;
  }
}

div {
  border: 1px solid red;
}
p {
  border: 1px solid #000;
}

@media (min-width: 768px) {
  header {
    align-items: center;
  }
  .logo {
    justify-self: start;
    margin-top: 0;
    margin-bottom: 0;
  }
  nav {
    justify-self: end;
    grid-auto-flow: column; 
    position: relative;
    top: initial;
    width: initial;
    a {
      border: 1px solid red;
    }
  }
}