.container {
  display: grid;
  grid-gap: 1em;
  margin: 1em auto 0;
  max-width: 1140px;
}

main {
  padding: 16px;
  border: 1px solid #000;
}

img {
  max-width: 100%;
  height: auto;
}

.articles {
  display: grid;
  justify-items: center;
  grid-gap: 1em;
  article {
    border: 1px solid #000;
    padding: 4px;
    max-width: 368px;
  }
  .article__info {
    display: grid;
    padding: 1em .5em 1em;
  }
}

p {
  margin-top: 1em;
}

a {
  margin-top: 1em;
  justify-self: start;
  border: 1px solid #000;
  padding: .5em 1em;
}

@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr auto;
  }
  .articles {
    grid-template-columns: 1fr 1fr;
  }
}