<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <a href="#">Go Back</a>

  <h1>Sign Up</h1>

  <label for="username">Username</label>
  <input id="username" type="text" formControlName="username" required />

  <label for="email">Email Address</label>
  <input id="email" type="email" formControlName="email" required />
  <div *ngIf="email.invalid && (email.dirty || email.touched)">
    <p *ngIf="email.errors.required">Email is required</p>
  </div>

  <label for="password">Password</label>
  <input id="password" type="password" formControlName="password" required />
  <div *ngIf="email.invalid && (email.dirty || email.touched)">
    <p *ngIf="email.errors.required">Must have one letter, and one number</p>
  </div>

  <label for="confirmPassword">Confirm Password</label>
  <input
    id="confirmPassword"
    type="password"
    formControlName="confirmPassword"
    required
  />

  <button type="submit" [disabled]="signUpForm.invalid">Next</button>

  <p>
    Already have an account?
    <a href="#">Sign In</a>
  </p>

  <p>Status: {{ signUpForm.status }}</p>
</form>
