@import "../../../../variables.scss";

img {
  max-width: 100%;
  height: auto;
}

.articles {
  display: grid;
  justify-items: center;
  grid-gap: 2em;
  margin-bottom: 1em;
}

article {
  padding: 4px;
  max-width: 356px;
  border: 1px solid $color-border;
  box-shadow: 0px 3px 6px $color-border;
}

.article__info {
  display: grid;
  padding: 1em .5em 1em;
  h3 {
    font-size: 1.25rem;
    margin-bottom: .9em;
  }
  p {
    font-size: 1rem;
    color: $color-text;
    line-height: 1.6em;
    margin-top: 1em;
  }
  
  .btn {
    font-size: 1rem;
    margin-top: 1em;
    justify-self: start;
    padding: .5em 1em;
    color: $color-button;
    background-color: $bg-color-button;
    transition: .3s ease-in-out;
    &:hover {
      background-color: $color-primary;
    }
  }
}

.article__info--aux {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: start;
  align-items: center;
  grid-gap: .7em;
  a {
    border: 1px solid $color-border;
    border-radius: 1.875em;
    font-size: .8125rem;
    padding: .6em;
    color: $color-text;
  }
  .author {
    grid-row: 2 / 3;
  }
  .like {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: .3em;
  }
  fa-icon {
    font-size: 0.5rem;
  }
}

@media (min-width: 768px) {
  .articles {
    grid-template-columns: auto auto;
    justify-content: start;
  }
  .article__info {
    h3 {
      font-size: 1.125rem;
    }
    p {
      font-size: 0.875rem;
    }
    .btn {
      font-size: 0.875rem;
    }
  }
  .article__info--aux {
    grid-gap: .5em;
    a {
      font-size: 0.75rem;
    }
  }
}